<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} aradiniz.
</div>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Completed</th>
      <th></th>
    </tr>
  </thead>
  <tbody><tr *ngFor="let todo of todos | filterPipe:filterText">
    <td>{{todo.id}}</td>
    <td>{{todo.userId | vatAdded:18 | currency }}</td>
    <td>{{todo.title | uppercase}}</td>
    <td>{{todo.completed}}</td>
    <td><button (click)="addToCart(todo)" type="button" class="btn btn-success">Sepete Ekle</button></td>
  </tr>
</tbody>
</table>
